{% extends 'base.html' %}

{% block content %}
    <h1>Livescore App</h1>

    <div>
        <br />
        This app was developed by <strong>Felix Salcher</strong> and <strong>Marc Schlömmer</strong> as part of the Information Systems Development Seminar.
        <br /><br />
        The idea is that this app can be used to keep track of the scores for table tennis games as they are happening live and broadcasting this score to everyone who is interested in it.
        <br /><br />
        For this purpose we have set up a tournament / game / player structure. The main focus point of this app is the websocket functionality implemented with django-channels that allows for live data connections to push the updated scores to the client.
        <br /><br />
        Below you can see the currently running tournament.
        <br /><br />
    
    </div>

    <h2>Ongoing tournaments</h2> 
    <br />
    {% for tournament in allTournaments %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ tournament.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{tournament.venue}} -  {{ tournament.date }} 
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                   {{tournament.participants.count}} Participants -
                    {{tournament.openSpaces}} Spaces Open
                </h6>
                

                <a href={{tournament.get_absolute_url}} class="card-link">View Tournament</a>
            </div>
        </div>
        <br>
    {% endfor %}


{% endblock content %}
