<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            {% load static %}
            <img src="{% static "logo.png" %}" alt="avatar image" width="30" height="30" />
            <!-- Table-tennis by priyanka from the Noun Project -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">

                    <a class= "text-white nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item"></li>


                <a class="text-white nav-link" href="{% url 'signup' %}">Sign Up</a>

                <li class="nav-item"></li>
                {% endif %}
            </ul>




        </div>
    </nav>
</header>
