{% extends 'base.html' %}

{% block content %}

<h1>{{tournament.name}}</h1>
{% if registration == "Added" %}
            <div class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Added to the tournament {{tournament.name}} </strong> 
            </div>
        {% elif registration == "Removed" %}
        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>You successfully unregistered from the tournament</strong> 
          </div>
        
        {%endif%}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ tournament.venue }} - {{ tournament.date }} </h5>

        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Participants:</h6>
            <span>{{ tournament.participants.all|join:", " }}</span>
            <br /><br />
            <div>{{tournament.openSpaces}} Spaces Open</div>
            <br />
            {%if user.is_superuser %}
            <a href={{tournament.get_absolute_url}}/createGame  class="card-link btn btn-info" role="button">Create Game</a> 
            {%endif%}
           
            {% if user.is_authenticated %}
                {% if user not in tournament.participants.all %} 
                    <!-- check if user is already part of tournament, if not - button to register-->
                    {%if tournament.openSpaces > 0 %}
                        
                        <!-- <button type="button" class="btn btn-success">Register</button>-->
                        <a href={{tournament.get_absolute_url}}?register=Register  class="card-link btn btn-success" role="button">Register</a> 
                    {%endif%}
                {%else%}
                    <a href={{tournament.get_absolute_url}}?register=Unregister  class="card-link btn btn-danger" role="button">Unregister</a> 
                {%endif%}
            {% endif%}
        </div>
         
        
    </div>
</div>

<!-- first show all games that are active, then show upcoming games, and finally show completed games -->

{% if games.activeGames %}
    <h2>Active Games</h2>

    <ul class="list-group">
        {% for game in games.activeGames %}
            <li class="list-group-item"><a href={{game.get_absolute_url}}>{{game.player1}} {{game.player1_score}} : {{game.player2_score}} {{game.player2}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if games.upcomingGames %}
    <h2>Upcoming Games</h2>

    <ul class="list-group">
        {% for game in games.upcomingGames %}
            <li class="list-group-item"><a href={{game.get_absolute_url}}>{{game.player1}} {{game.player1_score}} : {{game.player2_score}} {{game.player2}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if games.completedGames %}
    <h2>Completed Games</h2>

    <ul class="list-group">
        {% for game in games.completedGames %}
            <li class="list-group-item">{{game.player1}} {{game.player1_score}} : {{game.player2_score}} {{game.player2}}</li>
        {% endfor %}
    </ul>
{% endif %}
<br />
{% endblock %}
